# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Dependency tracking
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Platformer/platformer
tools/make_res

# Generated sources
Platformer/static_resource.*

# Directories
Debug/
Release/
Demo/
Platformer/Debug/
Platformer/Release/
Platformer/Demo/
